//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^aeoluswebtest.pages.dev[nc]
RewriteRule ^(.*)$ http://www.aeoluswebtest.pages.dev/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(png|jpg|css|js)$">
Header set Cache-Control "private, max-age=3600"
</FilesMatch>

//Custom 400 errors
ErrorDocument 400 ./images/errors/400.jpg

//Custom 401 errors
ErrorDocument 401 ./images/errors/401.jpg

//Custom 403 errors
ErrorDocument 403 ./images/errors/403.jpg

//Custom 404 errors
ErrorDocument 404 ./images/errors/404.jpg

//Custom 500 errors
ErrorDocument 500 ./images/errors/500.jpg

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 